@model IList<EcommerceStore.Models.Order>



    <table class="table table-bordered">


        <thead>

            <tr>
    <th>ProductId</th>
    <th>Quantity</th>
            
    <th>CreatedBy</th>
    <th>OrderDetail</th>
    <th>Status</th>
    <th>ModifyBy</th>
    <th>ModifiedDate</th>
    <th>CreatedBy</th>
    <th>CreatedDate</th>
        </tr>






        </thead>

    

        <tbody>

        @foreach (var oj in Model)
        {
            <tr>
        <td>@oj.ProductId</td>
        <td>@oj.Quantity</td>
       
        <td>@oj.OrderDetail</td>
        <td>@oj.Status</td>
        <td>@oj.ModifyBy</td>
        <td>@oj.ModifiedDate</td>
        <td>@oj.CustomerId</td>
        <td>@oj.CreatedBy</td>
        <td>@oj.CreatedDate</td>

                <td>

                    <a asp-action="Edit" asp-controller="Products" asp-route-id="@oj.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Detail" asp-controller="Products" asp-route-id="@oj.Id" class="btn btn-warning">Detail</a>
                    <a asp-action="Delete" asp-controller="Products" asp-route-id="@oj.Id" class="btn btn-warning">Delete</a>




                </td>

            </tr>


        }






        </tbody>












    </table>
